html {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  text-align: center;
}
h1 {
  font-size: 1.8rem;
  color: white;
}
p {
  font-size: 1.4rem;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}
body {
  margin: 0;
  background-color: #111;
  color: white;
  font-size: 1.2rem;
}

#content {
  padding: 30px;
}

/* dark input type number */
input {
  background-color: #333;
  color: white;
  padding: 5px;
}

th {
  text-align: left;
  padding: 10px;
}

td {
  text-align: left;
}

